@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap');
@import '/src/styles.scss';

label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

h2 {
  font-family: 'Nabla', cursive;
}

input {
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(117, 165, 255);
  border: none;
  cursor: pointer;
  text-align: center;
}

.details {
  display: flex;
  justify-content: center;
  align-content: center;
}

.details div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

button {
  width: 170px;
  text-decoration: none;
  margin-top: 40px;
  margin-right: 20px;
  display: inline-block;
  background: radial-gradient(circle, rgb(105, 119, 245) 0%, rgb(20, 39, 75) 100%);
  color: white;
  font-weight: 500;
  border-radius: 4px;
  border: solid 2px rgb(141, 181, 255);
  text-align: center;
  font-family: 'Nabla', cursive;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  color: white;
  background: radial-gradient(circle, rgb(79, 132, 230) 0%, rgb(247, 247, 247) 100%);
}